@import "~antd/dist/antd.css";
html {
  --primary-color: #1890ff;
  --gray-color: #3f3f3f;
  --scroll-bar: 0;
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}
body,
.ant-layout {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.ant-menu {
  display: flex;
}
.logo {
  color: var(--gray-color);
  height: 31px;
  margin: 16px 24px 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.ant-row-rtl .ant-menu .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-footer {
  background: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding-top: 3rem;
}

.ant-layout-content {
  margin-top: 3rem auto;
}
.container,
.ant-layout-content,
.ant-layout-footer {
  margin: auto;
  width: 100%;
}

.welcome-panel {
  margin: auto;
  text-align: center;
  padding: 5rem 1rem;
}

@media screen and (min-width: 576px) {
  .container,
  .ant-layout-footer,
  .ant-layout-content {
    width: 540px;
  }
  .ant-layout-footer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .welcome-panel {
    margin: auto;
    text-align: center;
    padding: 5rem 10rem;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .ant-layout-footer,
  .ant-layout-content {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container,
  .ant-layout-footer,
  .ant-layout-content {
    width: 960px;
  }
}

.ant-card-bordered.border-primary {
  border-color: var(--primary-color);
}

.ant-card-bordered.border-grey {
  border-color: rgba(0, 0, 0, 0.125);
}
.comparatif {
  padding: 5rem 0px;
}

footer .ant-list-split .ant-list-item {
  padding-inline-start: 0px !important;
  border-bottom: 0px;
}

.ant-layout-header {
  color: var(--gray-color);
  background: transparent;
}

.ant-layout-header .ant-menu {
  background: transparent;
}

.ant-layout-header .ant-menu .ant-menu-item-selected,
.ant-layout-header .ant-menu .ant-menu-item-selected a,
.ant-layout-header .ant-menu .ant-menu-item-selected.ant-menu-item-active,
.ant-layout-header .ant-menu .ant-menu-item-selected.ant-menu-item-active a {
  border-color: var(--primary-color);
  color: white;
  background: var(--primary-color);
}

.ant-layout-header .ant-menu .ant-menu-item-active,
.ant-layout-header .ant-menu .ant-menu-item-active a {
  border-color: var(--primary-color);
}

.text-center {
  text-align: center;
}
